{% extends 'base.html.twig' %}

{% block title %}Edit Movie{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <nav id="user-nav">
                <a href="{{ path('movie_index') }}">Index</a>
            </nav>
            {% if update == TRUE %}
                <h2>Edit movie form</h2>

                {{ include('movie/_form.html.twig', {'button_label': 'Update'}) }}

                {{ include('movie/_delete_form.html.twig') }}

            {% else %}
                <h2>You cannot edit this movie.</h2>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock %}
